<h2>Seattle Sounders Players</h2>

<div *ngFor="let player of players | async"  class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(player)">{{player.name}}</h3>
    <p>{{player.position}}</p>
    <p><strong>Age: </strong>{{player.age}}</p>
    <p><strong>HT: </strong>{{player.height}}</p>
    <p><strong>WT: </strong>{{player.weight}}</p>
    <div *ngIf="currentRoute === '/admin'">
      {{player.experience}}
      <hr>
      <app-edit-player [selectedPlayer]="player"></app-edit-player>
    </div>
  </div>
</div>
