<h4>Edit Player</h4>

<label>New Player Name:</label>
<input [(ngModel)]="selectedPlayer.name">
<br>

<label>New Player Number and Position:</label>
<input [(ngModel)]="selectedPlayer.position">
<br>

<label>New Player Age:</label>
<input [(ngModel)]="selectedPlayer.age">

<label>New Player Height:</label>
<input [(ngModel)]="selectedPlayer.height">
<br>

<label>New Player Weight:</label>
<input [(ngModel)]="selectedPlayer.weight">
<br>

<label>New Player Experience:</label>
<textarea [(ngModel)]="selectedPlayer.experience"></textarea>

<button (click)="beginUpdatingPlayer(selectedPlayer)">Update</button>
